.purchase-item {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.detail-container {
	padding-left: 1.5rem;
}

.purchase-img {
	display: flex;
	justify-content: center;
}

/* .detail-container .btn {
	padding: 0.2rem 0;
	line-height: 2rem;
	font-size: 1rem;
	background: #f9c001 !important;
} */

.detail-container .btn:hover {
	opacity: 0.8;
}

.form .car-detail {
	display: block;
	width: 100%;
	padding: 0.4rem 0.7rem;
	font-size: 1.2rem;
	color: #ccc;
}

.form .car-detail span {
	color: #f5c012;
}

.biding-price {
	display: flex;
	background: #ccc;
	flex-wrap: wrap;
}
.biding-price p {
	padding: 0.4rem 0.7rem;
	font-size: 1.2rem;
	color: #333;
	font-weight: bold;
}

.biding-price .form-group input {
	background: #eee;
	border-radius: 0.2rem;
}

a.frud-link {
	color: var(--danger-color);
	font-weight: bold;
}

/* Responsive ness */
@media (max-width: 700px) {
	.purchase-item {
		display: grid;
		grid-template-columns: 1fr;
	}
	.detail-container {
		margin-left: -1rem !important;
		margin-right: -1rem !important;
	}

	.biding-price p {
		font-size: 0.9rem;
	}
}
