* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
div.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	background: #3b3b3b;
}

div.top-line {
	position: absolute;
	min-height: 5px;
	width: 100%;
	left: 0;
	top: 0;
	background: #f9c001;
}

div.card {
	background: #fff;
	width: 50%;
	min-height: 90vh;
	border-radius: 5px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	display: flex;
	flex-direction: column;
	justify-content: start;
	text-align: center;
	align-items: center;
}

div.links {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	width: 50%;
}
p.lead2 {
	font-size: 1.5rem;
	padding: 1rem;
}
p.lead2 span {
	color: #f9c001;
}
a.link:hover {
	opacity: 0.7;
}
h2.lead {
	font-size: 2rem;
	color: #504f4f;
	padding: 2rem;
}

a.link {
	font-size: 1.2rem;
	color: #f9c001;
	background: #504f4f;
	padding: 1rem;
	margin: 0.9rem;
	border-radius: 0.1rem;
}

h1.head-text a {
	color: #f9f9f9;
	margin-bottom: 50px;
}

.head {
	background: #504f4f;
	padding: 10px;
	text-align: left;
	width: 100%;
	margin-bottom: 3rem;
}

a {
	text-decoration: none;
	color: #ccc;
}

h1.head-text a > span {
	color: #f9c001;
}

p {
	font-size: 20px;
	margin-top: 10px;
	color: #ccc;
}

@media (max-width: 770px) {
	div.card {
		width: 100%;
		margin-left: 1.5rem;
		margin-right: 1.5rem;
	}
	a.link {
		font-size: 1.2rem;
		padding: 0.5rem;
		margin: 0.5rem;
	}
	div.links {
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
		padding: 0.5rem;
		width: 100%;
	}
}
